* {
    margin: auto;
    font-family: 'Urbanist', arial sans-serif;
}

.bg {
    background: linear-gradient(180deg,#000000,#500000);
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: -1;
}

.header {
    margin-bottom: 1em;
    width: 20%;
    display: flex;
    justify-content: space-around;
}

.jenna {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding-left: 40px;
    padding-right: 30px;
    color: red;
}

.rainn {
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    padding-left: 30px;
    padding-right: 40px;
    color: red;
}

.pic1 {
    margin-top: 1em;
    width: 200px;
    border: 1px solid black;
}

ul {
  box-sizing: border-box;
  list-style: none;
  margin: auto;
  padding: 0em;
  max-width: 300px;
}

ul > li {
  background-color:rgba(255, 255, 255, .7);
  border-radius: 10em;
  margin: .5em 0;
}

ul > li > a {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  padding: .8em;
}

p > a {
  background-color:rgba(255, 255, 255, .7);
  border-radius: 10em;
  display: inline-flex;
  padding: .6em;
  max-width: 300px;
  text-align: center;
  margin-left: 4.1em;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  background-color:rgba(255, 255, 255);
  border-radius: 10em;
}
